/*
  Contents:
    Base
    Site container
    Masthead
    Thumbnail
    Post
    Pagination
    Footer
    Menu
    Code
    Tables
    Social media icons
*/

/*
  Base
*/

/*
@media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
  }
}

@media (prefers-color-scheme: light){
  body {
    background-color: #white;
  }
}

*/



body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #515151;
  line-height: 1.5rem;
  text-align: justify;
}

@media (max-width: 30em) {
  body {
    font-size: 14px;
    line-height: 1.5rem;
  }
  body h1 {
    font-size: 1.5rem;
  }
}

h1{
  font-size: 1.75rem;
}

h1 a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Quattrocento Sans", sans-serif;
  color: #333;
  text-align: -webkit-left;
}

a {
  text-decoration: underline;
  color: #333;
}

a:hover {
  color: black;
  border-bottom: none;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-block-start: 1em;
}

blockquote {
  margin: 10px 20px 10px;
  padding: 0px 15px;
  border-left: 0.25em solid #ccc;
  color: #999;
  line-height: 1.5;
}

hr {
  border-top: 1px solid #ccc;
}

/*
  Site container
*/

.container {
  margin-left: auto;
  margin-right: auto;
  width: 720px;
}

/*48em*/

@media (max-width: 768px) {
  .container {
    width: 90vw;
  }
}

/*
  Masthead
*/

.masthead {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 4rem;
  font-family: "Quattrocento Sans", sans-serif;
}

.masthead a:hover {
  color:black;
}

.masthead-title a {
  font-size: 2.2rem;
  text-decoration: none;
  color: #787878;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0.06em;
}

.masthead-subtitle {
  color: #ccc;
}

/*
  Thumbnail
*/

.thumbnail-container {
  max-width: 100%;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 25px;
}

.thumbnail-container img{
  /* margin-top: -11.5%; */
  /* margin-bottom: -11.5%; */
}

/*
  Post
*/

.post-container {
  margin-bottom: 4rem;
}

.posts {
  margin-bottom: 5rem;
  padding: 0px;
  list-style: none;
  text-align: justify;
}

.post-date {
  display: block;
  margin-top:3px;
  margin-bottom: 0rem;
  color: #9a9a9a;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size:0.8rem;
}

.post-history {
  display: block;
  margin-top:3px;
  margin-bottom: 0rem;
  color: #f39c12;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size:0.8rem;
}

.post-copyright {
  display: block;
  color: #9a9a9a;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size:0.8rem;
  margin-top: 10px;
}

.post-powered-by {
  display: block;
  color: #9a9a9a;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size:0.8rem;
  margin-top: 0px;
}

.post-hit-counter {
  display: block;
  margin-top: 8px;
}

@media (max-width: 30rem) {
  .posts h1 {
    font-size: 1.5rem;
  }
}

.related {
  padding-bottom: 2rem;
}

.related-posts {
  padding-left: 0px;
  list-style: none;
}

.related-posts a {
  text-decoration: none;
}

/*
  Pagination
*/

.pagination {
  overflow: hidden;
  font-family: 'Quattrocento Sans', sans-serif;
  text-align: center;
}

.pagination a {
  text-decoration: none;
}

.pagination-button {
  color: #999;
  border: 1px solid #e0e0e0;
  padding: 5px 45px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

.pagination-active {
  color: black;
}

.pagination-active:hover {
  background-color: #e0e0e0;
}

/*
  Footer
*/

.footer {
  color: #999;
  text-align: center;
  margin: 2rem;
}

.footer a {
  color: #999;
  padding: 2px;
  text-decoration: none;
}

.footer a:hover {
  color: #333;
}

/*
  Menu
*/

.menu {
  padding-top: 0.5rem;
  display: block;
  font-variant: all-petite-caps;
}

.menu-content {
  float: left;
}

.menu-content a {
  color: #999;
  font-size: 1rem;
  padding: 0 10px;
  text-decoration: none;
  display: inline-block;
  line-height: 2.5;
}

/* Dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown button */
.dropbtn {
  color: #999;
  font-size: 1rem;
  padding: 0 10px;
  border: none;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  background: none;
  line-height: 2.5;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left: 0;
  top: 100%;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #333;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  white-space: nowrap;
  line-height: 1.5;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f5f5f5;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  color: #333;
}

.social-icons {
  float: right;
}

.social-icons a {
  color: #999;
  font-size: 1rem;
}

@media (max-width: 30em) {
  .social-icons {
    float: left;
    padding-top: 0px;
  }
  .menu-content {
    margin-bottom: 5px;
  }
}

/*
  Code
*/

code,
pre {
  font-family: "Source Code Pro", monospace;
}
code {
  padding: .25em .5em;
  font-size: .8rem;
  background-color: #f5f5f5;
  border-radius: 3px;
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: .8rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
}
pre code {
  padding: 0;
  font-size: 100%;
  color: inherit;
  background-color: transparent;
}

/* Horizontal code overflow fix */
pre.highlight {
  white-space: pre;
  overflow-x: auto;
}

/* Pygments via Jekyll */
.highlight {
  margin-bottom: 1rem;
  border-radius: 4px;
}
.highlight pre {
  margin-bottom: 0;
}

/* Gist via GitHub Pages */
.gist .gist-file {
  font-family: "Source Code Pro", monospace !important;
}
.gist .markdown-body {
  padding: 15px;
}
.gist pre {
  padding: 0;
  background-color: transparent;
}
.gist .gist-file .gist-data {
  font-size: .8rem !important;
  line-height: 1.4;
}
.gist code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border-radius: 0;
}

/*
  Tables
*/

table {
  border-collapse: collapse;
  margin-bottom: 30px;
  width: 100%;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 15px;
  text-align: left;
}

/*
  Social media icons
*/

.sharing-icons a {
  padding-right: 10px;
}

.fa-envelope {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-envelope:hover {
	color: #f39c12;
}

.fa-microblog {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-microblog:hover {
	color: #f80;
}

.fa-twitter {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-twitter:hover {
	color: #00aced;
}

.fa-instagram {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-instagram:hover {
	color: #375989;
}

.fa-github {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-github:hover {
	color: #343434;
}

.fa-linkedin {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-linkedin:hover {
	color: #0073a4;
}

.fa-facebook {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-facebook:hover {
	color: #3d5b99;
}

.fa-google-plus {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-google-plus:hover {
	color: #e64a41;
}

.fa-pinterest {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-pinterest:hover {
	color: #bd081c;
}

.fa-medium {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-medium:hover {
	color: #00AB6C;
}

.fa-codepen {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-codepen:hover {
	color: black;
}

.fa-rss-square {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-rss-square:hover {
	color: #ff6600;
}

.tags {
  display: block;
  margin-top:3px;
  margin-bottom: 1rem;
  color: #9a9a9a;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size:0.8rem;
  text-decoration: none;
}

/*! div style */
/*! */
.image-gallery {
 width: 100%;
 display: grid;
 grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
 grid-column-gap: 15px;
 justify-content: center;
 padding: 4px;
}

.box {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  flex-basis: 25%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.img-gallery {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.gallery-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 8px;
  font-size: 0.9em;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.box:hover {
  transform: translateY(-5px) scale(1.02);
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.box:hover .gallery-caption {
  opacity: 1;
}

.box a {
  display: block;
  position: relative;
  height: 200px;
}
